
@{
    ViewBag.Title = "KinhDoanhOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var khoi = Session["khoi"].ToString();
}

@section scripts{
    <script src="~/Assets/Admin/js/User/bootbox.min.js"></script>
    <script src="~/Assets/Admin/js/User/mustache.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.validate.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery-ui/jquery-ui.js"></script>
    @*<script src="~/Assets/Admin/js/DoanTheoNgayDi/doanTheoNgayDiController.js"></script>*@
    <link href="~/Assets/Admin/css/user.css" rel="stylesheet" />
    <script>
            //$(function () {
            //    $('.modal-dialog').draggable();
            //});

    </script>

}

<div class="row">
    <div class="panel panel-default">
        <div class="panel page-heading">
            <h4> BÁO CÁO DOANH THU KINH DOANH ONLINE</h4>
        </div>
        <div class="panel panel-body">
            <form id="frmSearch" asp-controller="BaoCao" asp-action="KinhDoanhOnline" method="post" class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-2">
                            Từ ngày
                            <input type="text" class="form-control maskInput" name="tungay" id="txtTuNgay" placeholder="Type date..." />
                        </div>

                        <div class="col-md-2">
                            Đến ngày
                            <input type="text" class="form-control maskInput" name="denngay" id="txtDenNgay" placeholder="Type date..." />
                        </div>

                        <div class="col-md-2">
                            Khối
                            <select class="form-control" id="ddlKhoi" name="khoi">
                                <option value="OB">OB</option>
                                <option value="ND">ND</option>
                            </select>
                        </div>
                        <input type="hidden" id="hidKhoi" data-khoi="@khoi" />


                        <br />
                        <div class="col-md-3">

                            <span class="btn-group">
                                <button type="button" id="btnSearch" class="btn btn-outline btn-primary"><i class="fa fa-search"></i></button>
                                <button id="btnReset" class="btn btn-outline btn-warning"><i class="fas fa-broom"></i></button>
                                <button id="btnExport" class="btn btn-outline btn-success"><i class="fas fa-file-export"></i></button>
                            </span>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <td>CN</td>
                    <td>Tạo vé</td>
                    <td>Tự huỷ</td>
                    <td>Chưa xuất vé</td>
                    <td>Thành công</td>
                    <td>Huỷ</td>
                </tr>
            </thead>
            <tbody id="tblData" class="table table-hover"></tbody>
        </table>
    </div>

</div>


