
@{
    ViewBag.Title = "NgayCN";
    Layout = "/Views/Shared/_Layout.cshtml";

}

@section scripts{
    <script src="~/Assets/Admin/js/User/bootbox.min.js"></script>
    <script src="~/Assets/Admin/js/User/mustache.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.validate.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery-ui/jquery-ui.js"></script>
    <script src="~/Assets/Admin/js/NgayCN/ngaycnController.js"></script>
    <link href="~/Assets/Admin/css/user.css" rel="stylesheet" />
    @*<script>
            $(function () {
                $('.modal-dialog').draggable();
            });
        </script>*@
}

<br />
<form id="frmSearch" asp-controller="BaoCao" asp-action="NgayCN" method="get" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-4">
                Từ ngày
                <input type="text" class="form-control" name="tungay" id="txtTuNgay" placeholder="Type date..." />
            </div>

            <div class="col-md-4">
                Dến ngày
                <input type="text" class="form-control" name="denngay" id="txtDenNgay" placeholder="Type date..." />
            </div>

            <div class="col-md-4">
                <div class="form-group input-group">
                    Văn phòng
                    <select class="form-control" id="ddlChiNhanh">
                        <option value="">Tất cả</option>
                        <option value="102nh">102 Nguyễn Huệ</option>
                        <option value="607nt">607 Nguyễn Trãi</option>
                    </select>

                    <span class="input-group-btn">
                        <br />
                        <button id="btnSearch" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        <button id="btnReset" class="btn btn-secondary">Reset</button>
                    </span>
                </div>
            </div>
           
        </div>
    </div>
</form>
<br />
